.wrapper {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 42rem;
}

.quote {
  font-family: 'Diphylleia', serif;
  line-height: 1.6;
  font-size: 1.2rem;
  color: #5a4c3d;
}

.quote::before {
  content: '“';
  font-size: 8rem;
  font-weight: bold;
  position: absolute;
  color: rgba(222, 222, 222, 0.37);
  left: -2rem;
  top: -3rem;
  z-index: -10;
}

.right {
  text-align: right;
}

.author {
  font-weight: 500;
  color: #2f2418;
}
